.shulte-tutorial.slow-appearing
    .shulte-tutorial__close-btn.close-btn
    span
    span
    ul.shulte-tutorial__content
    li.shulte-tutorial__question Что такое таблицы Шульте?
        p.shulte-tutorial__answer Таблицы Шу́льте (англ. Schulte Table) — таблицы со случайно расположенными объектами (обычно числами или буквами), служащие для проверки и развития быстроты нахождения этих объектов в определённом порядке. Упражнения с таблицами позволяют улучшить периферическое зрительное восприятие, что важно, например, для скорочтения. <br> <br>Разработаны первоначально как психодиагностическая проба для исследования свойств внимания немецким психиатром и психотерапевтом Вальтером Шульте (нем. Walter Schulte; 1910—1972).
    li.shulte-tutorial__question Как правильно тренироваться?
        ul.shulte-tutorial__answer
        li Расстояние от таблицы до глаз должно быть таким же, как и при чтении книги, то есть примерно 30—35 см.
        li Перед началом работы с таблицей взгляд фиксируется в её центре и больше не сдвигается.
        li Находить числа нужно в возрастающем порядке от 1 до 25, без про́пусков, с максимальной быстротой, желательно не проговаривая числа ни про себя, ни вслух. Очень важно избегать передвижений взгляда из центра и искать числа только периферическим зрением.
        li Время и периодичность тренировок нужно выбирать так, чтобы избежать переутомления. Обычно не более 10 таблиц в день.
        li По мере развития навыка переходят к таблицам с количеством ячеек 6x6, 7x7, 8x8, соответственно увеличивая и размер квадрата.
