//screen resolutions

$sm: 450px;
$md: 768px;
$lg: 960px;
$xl: 1200px;

//main-colors
$black: #000;
$white: #fff;

//font-set
$font-family-base: 'Makazi', 'Arial', sans-serif;
$fontLeague: 'League-gothic', 'Arial', sans-serif;
$fontMuseoSans: 'Museo-sans', 'Arial', sans-serif;
$fontMuseoSlab: 'Museo-slab', 'Arial', sans-serif;